node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/metafile.*
/functions/version.txt
/public/build
.dev.vars

wrangler.toml
priv.shopify.app.toml
shopify.app.ignore.toml
.wrangler
.vscode/database-client-config.json
worker-configuration.d.ts
